.clinic-history {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    width: 100%;
    border-collapse: collapse;
  }

.add-visit-button {
  background-color: #7c99e2;
  border-radius: 40px;
  font-size: 16px;
}
  
  .clinic-history-title {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #242f48;
    margin-top: 0px;
    justify-content: space-between;
  }
  
  .icon {
    margin-right: 10px;
  }

  .history {
    overflow-x: auto;
    border: 1px dashed #ccc;
    padding: 10px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .clinic-history-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; /* Adjust this value to fit 5 columns */
  }

  .clinic-history-table,
.files-table {
  width: 100%;
  border-collapse: collapse;
}

.clinic-history-table th,
.clinic-history-table td,
.files-table th,
.files-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
  line-height: 15px;
  color: #364261;
}
  
  .clinic-history-table th, .files-table th {
    background-color: #f2f2f2;
    font-weight: 700;
    color: #000000;
  }
  
  .purpose-column {
    width: 40%;
  }
  
  .date-column {
    width: 20%;
  }
  
  .action-column {
    width: 10%;
    text-align: center;
  }
  
  .clinic-history-table tr:hover,
.files-table tr:hover {
  background-color: #f1f1f1;
}

  
.view-button,
.file-action-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.view-button:hover,
.file-action-button:hover {
  background-color: #0056b3;
}

.delete-button{
  background-color: #ff2c2c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

/* src/components/ClinicHistory.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  margin-top: 20px;
}

.file-upload {
  margin-top: 20px;
  border: 1px dashed #364261;
  padding: 20px;
  text-align: center;
  background-color: #f0f4ff;
}

.upload-area img {
  margin-bottom: 10px;
}

.browse-button {
  background-color: #0162e8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.file-types {
  font-style: italic;
  color: #737f9e;
  margin-top: 10px;
  font-size: small;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancel-button, .upload-button {
  background-color: #0162e8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-button {
  background-color: transparent;
  color: #0162e8;
}


.file-grid {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
}

.file-name {
  font-size: 14px;
  margin-bottom: 5px;
}

.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);;
}

.file-details {
  text-align: center;
}

.file-icon {
  width: 175px;
  margin-bottom: 10px;
}

.drag-active {
  border: 2px dashed #0162e8;
}

.expanded-content {
  padding: 10px;
  background-color: #f9f9f9;
}

.remove-button {
  padding: 5px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-body {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.upload-icon {
  width: 38px;
  height: 30px;
  margin-bottom: 10px;
}

.upload-label {
  color: #007bff;
  cursor: pointer;
}

.add-files-section {
  background-color: rgb(183, 204, 223);
  padding: 10px;
}

.thumbnail-file {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 5px;
}